.Menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: blue;
    width: 80%;
}

.Menu a {
    text-decoration: none;
    font-size: 30px ;
    color: snow;
    padding: 25px;
}

.Menu a[class='active']{
    color: black;
}

.Wrap {
    display: flex;
    flex-direction: row;
}

.Buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 20%;
}

.PanelButton{
    width: 100px;
}