.Wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: blue;
}

.Content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: blue;
    height: 100%;
}