.Wrap {
    display: flex;
    justify-content: center;
    width: 100%;
}

.ClubsList {
    width: 20%;
    background: blanchedalmond;
    height: 100%;
}

.InfoBlock {
    width: 80%;
    background: lightblue;
}

.ClubFormWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background: green;
    height: 100px;
    width: 100%;
}

.NameClubForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.ClubForm {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
}

.FullInfo {
    display: flex;
    flex-direction: row;
}


.ClubDetails{
    margin: 5px;
}
.PlayerList{
    margin: 5px;
}